<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>sticky web page</title>
</head>
<body>




    <div class="container">
        <div class="section" id="section1"><h1> this is section 1</h1></div>
        <div class="section" id="section2"><h1> this is section 2</h1></div>
        <div class="section" id="section3"><h1> this is section 3</h1></div>
        <div class="section" id="section4"><h1> this is section 4</h1></div>
        <div class="section" id="section5"><h1> this is section 5</h1></div>



    </div>
</body>
</html>